@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-neutral-100: #f2f2f7;
  --color-neutral-200: #e4e4ef;
  --color-neutral-700: #2a2b37;
  --color-neutral-900: #12131a;

  --color-purple-400: #d3a0fa;
  --color-yellow-500: #ff9f00;
  --color-orange-500: #fe8159;
}

@theme {
  --color-background: var(--color-white);
  --color-text1: var(--color-neutral-900);
  --color-text2: var(--color-neutral-700);
  --color-purple: var(--color-purple-400);
  --color-yellow: var(--color-yellow-500);
  --color-orange: var(--color-orange-500);
}

.dark {
  --color-background: var(--color-neutral-900);
  --color-text1: var(--color-neutral-100);
  --color-text2: var(--color-neutral-200);
  --color-purple: var(--color-purple-400);
  --color-yellow: var(--color-yellow-500);
  --color-orange: var(--color-orange-500);
}

body {
  font-family: "DM sans";
  background-color: var(--color-background);
  color: var(--color-text1);
}

.text-preset-1 {
  font-size: 64px;
  font-weight: bold;
}

.text-preset-1-mobile {
  font-size: 40px;
  font-weight: bold;
}

.text-preset-2 {
  font-size: 24px;
  font-weight: 500;
}

.text-preset-3 {
  font-size: 20px;
  font-weight: 500;
}

.text-preset-4 {
  font-size: 16px;
  font-weight: 500;
}
